.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
.nombre {
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: bold;
  }
  .canvas-avatar {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;

    .cuerpo {
      border-radius: 50%;
      position: relative;
      transition: all 0.3s ease;
      box-shadow: 0 10px 20px rgba(0,0,0,0.1);

      .ojos {
        display: flex;
        justify-content: space-around;
        padding-top: 30%;

        .ojo {
          width: 20%;
          height: 20%;
          background: white;
          border-radius: 50%;
          border: 2px solid black;
        }

        .lentes {
          position: absolute;
          top: 35%;
          width: 90%;
          height: 15%;
          border: 3px solid #333;
          left: 5%;
          background: rgba(255,255,255,0.2);
        }
      }

      .boca {
        position: absolute;
        bottom: 20%;
        width: 100%;
        display: flex;
        justify-content: center;

        .feliz { width: 40%; height: 20px; border-bottom: 5px solid black; border-radius: 50%; }
        .sorprendido { width: 20px; height: 20px; border: 4px solid black; border-radius: 50%; }
        .serio { width: 30%; height: 5px; background: black; }
      }
    }
  }

  .controles {
    background: #f4f4f4;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    display: grid;
    gap: 15px;

    label, p { font-weight: bold; font-size: 14px; }
    button { padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background: #f8bef5;
    color: rgb(89, 4, 110);
    cursor: pointer;
    font-weight: bold;
  }
  }

.expresiones {
  margin-top: 10px;
  display: flex;
  gap: 15px;

  button {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background: #f8bef5;
    color: rgb(89, 4, 110);
    cursor: pointer;
    font-weight: bold;
  }
}}